@import "common";
@import "common-page";

:root {
  --holder_c1: #4c474c;
  --holder_c2: #141414;
  --but_bord1: #aaa;
  --but_bord2: #333;
  --but_top_pre: #de7ede;
  --but_bot_pre: #ff4d4d;
  --but_top_post: #de49de;
  --but_bot_post: #ff1919;
  --but_top_rec: #b30003;
  --but_bot_rec: #ff0822;
  --send_bot_left: #ff00ff;
  --send_bot_right: #ff6600;
  --white: #fff;

  --bot_bar_height: 120px;
  --but_width: 125px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  width:50%;
  height: 100%;
  float: left;
}

#msgContainer {
  height: 80%;
  width: 40%;
  background-color: lightpink;
  border-radius: 30px;
  float: right;
}

#msgHolder {
  height: calc(100% - var(--bot_bar_height));
  width: 100%;
}

#recHolder {
  background-color: var(--holder_c1);
  background-image: linear-gradient(0deg, var(--holder_c1) 0%, var(--holder_c2) 100%);
  border-radius: 50px;
  width: 80%;
  height: var(--bot_bar_height);
}

#recPlayerHolder {
  width: calc(100% - 2 * var(--but_width));
  height: 100%;
  float: left;
}
#recordButtonHolder {
  width: var(--but_width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
#recordButton {
  outline: none;
  display: block;
  border: none;
  background-image: linear-gradient(0deg, var(--but_bot_pre) 50%, var(--but_top_pre) 100%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
  0px 0px 0px 4px var(--but_bord1), 0px 0px 0px 10px var(--but_bord2);
}
#recordButton:hover {
  background-image: linear-gradient(0deg, var(--but_bot_post) 50%, var(--but_top_post) 100%);
}
#recordButton:active {
  background-image: linear-gradient(0deg, var(--but_bot_rec) 0%, var(--but_top_rec) 100%);
}

#sendButtonHolder {
  width: 125px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
#sendButton {
  outline: none;
  display: block;
  border: none;
  background-image: linear-gradient(90deg, var(--send_bot_left) 0%, var(--send_bot_right) 100%);
  width: 80px;
  height: 50px;
  border-radius: 40%;
  color: var(--white);
  font-weight: bold;
  font-size: 125%;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 5px var(--but_bord2);
}
#sendButton:hover {
  background-image: linear-gradient(0deg, var(--but_bot_post) 50%, var(--but_top_post) 100%);
}
#sendButton:active {
  background-image: linear-gradient(0deg, var(--but_bot_rec) 0%, var(--but_top_rec) 100%);
}