@import "common";
@import "common-page";

#hide {
  display: none;
}

span {
  padding-right: 10px;
}

#bottomScreen {
  overflow: hidden;
}
#innerContents {
  margin: 0 auto;
  width: 70%;
  height: 80%;
  padding-bottom: 5%;
}

#socials-menu {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  bottom: 4%;
  opacity: 0;
  transform: translate(0, 100%);
}

#socialsList {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
  }

}

#facebookItem {
  margin-right: 0;
}

#skills {
  left: 0;
  margin-top: 20%;
  margin-bottom: 10%;
  opacity: 0;
  transform: translate(-100%);
}

#contact {
  display: block;
  opacity: 0;
  transform: translate(100%);
}

.descList {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  margin-top: 0;
  li {
    display: inline-block;
    line-height: 2;
    letter-spacing: .1rem;
  }
}

#aboutMenuTop {
  z-index: 2;
  margin-right: 0;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.menuItem {
  white-space: normal;
}

#aboutInfo {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 50%;
  height: 50%;
  z-index: 1;
  text-align: center;
  color: #e8e8e8;
  h1 {
    margin-left: 5%;
    letter-spacing: 10px;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
}


.router {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

