@import "./common";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

.homePage {
  width: 100vw;
  height: 100vh;
}

#logo {
  width: 70%;
  height: 10%;
  position: fixed; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  text-align: center;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

#questionName1, #questionName2, #questionName3 {
  text-align: center;
  margin: auto;
  width: 55%;
  height: 35%;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 41%;
  border: 5px solid pink;
  padding:10px;
  border-radius: 25px;
  background: linear-gradient(45deg,pink, deeppink, hotpink , red);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
#questionName1 {
  opacity: 1;
}
#questionName2 {
  opacity: 0;
}
#questionName3 {
  opacity: 0;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

#button1, #button3, #button5 {
  right: 51%;
}

#button2, #button4, #button6 {
  right: 25%;
}

#button1, #button2 {
  opacity: 0.4;
  z-index: 10;
}

#button3, #button4 {
  z-index: 9;
  opacity: 0;
}

#button5, #button6 {
  z-index: 8;
  opacity: 0;
}

#button1, #button2, #button3, #button4, #button5, #button6 {
  position: absolute;
  background-color: hotpink;
  width: 23%;
  height: 12%;
  top: 62%;
  border: 3px solid mediumvioletred;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button1:hover {opacity: 1.3 !important}
#button2:hover {opacity: 1.3 !important}
#button3:hover {opacity: 1.3 !important}
#button4:hover {opacity: 1.3 !important}
#button5:hover {opacity: 1.3 !important}
#button6:hover {opacity: 1.3 !important}