@import "./common";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

.homePage {
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

#logo {
  width: 70%;
  height: 10%;
  position: fixed; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  text-align: center;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  z-index: 3;
}

#titleQuestion {
  margin: auto;
  width: 55%;
  height: 35%;
  position: fixed;
  left: 15%;
  right: 15%;
  top: 41%;
  border: 5px solid pink;
  padding:10px;
  border-radius: 25px;
  opacity: 0.35;
  background: linear-gradient(45deg,pink, deeppink, hotpink , lightpink);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.button1 {
  right: 54%;
  top: 62%;
}

.button2 {
  right: 26%;
  top: 62%;
}

.button1, .button2 {
  background-color: hotpink;
  width: 20%;
  height: 10%;
  position: fixed;
  border: 3px solid black;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {opacity: 1}
.button2:hover {opacity: 1}




